.description-section {
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 100px;
}

.description-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.description-section p {
    font-size: 1.2rem;
    color: #000000;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    padding: 0 10px;
}

.painters-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.painter {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    
}

.painter:hover {
    opacity: 0.6 ;
}

.painter-photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    max-height: 250px;
}

.painter h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 15px;
    font-family: 'Pacifico', cursive;
}

.painter p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
    line-height: 1.5;
    padding: 0 10px;
}
