
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5px;
    overflow: hidden;
  }
  
  
  .art, .shop {
    opacity: 0; 
    transform: scale(0.5); 
    animation: fadeInScale 3s 3; 
  }
  
  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 0;
      transform: scale(0.5);
    }
  }
  
  /* Slightly stagger the animations for "Art" and "Shop" */
  .art {
    animation-delay: 0s;
  }
  
  .shop {
    animation-delay: 1.5s; /* Delay Shop's animation for a smoother effect */
  }
  