.container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  height: 40vh;
  background-color: #f0f0f4;
}

.title:first-child {
  font-family: 'Dancing Script', cursive; 
  font-size: 3rem;
  color: #493636;
  text-align: left;
  margin-top: 30px;  /* Larger gap for the first line */
  margin-left: 20px;

}

.title:nth-child(2) {
  font-family: 'Dancing Script', cursive; 
  font-size: 3rem;
  color: #493636;
  text-align: left;
  margin-top: -60px;  
  margin-left: 20px;

}
