#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-image: url('/src/pictures/background6.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signup-box {
  width: 400px;
  height: 645px;
  padding: 20px;
  margin: 0 auto;
  border: none;
  border-radius: 13px;
  border: 3px solid rgba(0, 0, 0, 0.158);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(100px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 475px;
  padding: 10px 10px 10px 4px;
  margin: 0 auto; 
  justify-content: center;
}

label {
  margin-bottom: 10px;
  text-align: left;
  font-style: normal;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 550;
  color: black;
}

input {
  color: black;
  border-radius: 5px;
  font-family: 'Roboto, sans-serfi';
  font-weight: 550;
  font-size: 16px;
  text-align: left;
  width: 100%;
  max-height: 40px;
  max-width: 300px;
  padding: 6px;
  border-width: 1px;
  border-color: black;
  box-sizing: border-box;
}

.no-focus-outline {
  outline: none;
}

input::placeholder {
  color:dimgray;
  font-size: 15px;
  font-style: inherit;
  opacity: 1;
}


button:active {
  transform: scale(0.97) translateY(2px);
}

.row {
  display: flex;
  gap: 0px;
}

.row > div {
  flex: 1;
}

.label-aligned {
  text-align: left !important;
}

.element {
  width: '1000px';
  color: white;
  background-color: #1a31b6;
  border-radius: 7px;
  &:hover {
    background-color: #f39811;
  }
}