
.header {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -40px;
    background-color: #ffffff;
}

/* Make the logo larger without affecting alignment */
.header-logo {
    width: 200px; 
    height: 200px; 
    object-fit: contain; 
}

/* Divider line */
.header-divider {
    position: absolute; /* Position relative to the header */              /* Align it to the left side */
    bottom: 10px;        /* Keep it just below the header */
    height: 2px;          /* Set the divider's height */
    width: 100%;          /* Make it span the full width of the header */
    background-color: #000000;
}








